/* Full viewport */
.gallery-section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-group-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Title di tengah */
.gallery-title {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  /* margin: 1rem 0; */
  font-family: "Montserrat", sans-serif;
  z-index: 2;
  position: relative;
}

/* Card container */
.task-group-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.task-card {
  width: 190px;
  background: transparent;
  border-radius: 12px;
  overflow: hidden;
  perspective: 1000px;
}

.desain img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

/* Responsive */
@media (max-width: 1024px) {
  .task-card { width: 150px; }
  .gallery-title { font-size: 2rem; }
}
@media (max-width: 768px) {
  .task-card { width: 120px; }
  .gallery-title { font-size: 1.6rem; }
}
@media (max-width: 480px) {
  .task-card { width: 150px; }
  .gallery-title { font-size: 1.3rem; }
}